/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-the-confectionery-catering-package-catering-package {
	min-width: fit-content;
	.catering-package__title {
		position: absolute;
		width:max-content;
	}
	.catering-package__info {
		margin: 0;
	}

	.catering-package__price {
		margin-block-end:0;
	}
}
